body {
  font-family: Arial, sans-serif;
  background-color: white;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(0, 115, 255);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(1, 1, 205);
}

.star-icon {
  width: 30px;
  height: 24px;
  background-image: url('https://fontawesome.com/icons/heart?f=classic&s=regular');
  background-size: cover;
  cursor: pointer;
  margin-left: 10px;
  margin-top: -8px;
}

#make-favorite-btn {
  display: none;
}

#author {
  display: block;
  margin-top: 10px;
  font-weight: 500;
}

#quote {
  font-style: italic;
}

.favContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fav-card {
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  height: auto;
}

.delBtn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 0, 0);
  border: 2px;

  border-radius: 10px;
  cursor: pointer;
}

.delBtn:hover {
  background-color: red;
  color: white;
}
